section {
  height: 250px;
}
#box1 {
  float: left;
  position: absolute;
  margin-left: 200px;
  border: 1px solid #000;
  padding: 20px 20px;
}
#box2 {
  float: right;
  position: relative;
  margin-right: 200px;
  border: 1px solid #000;
  padding: 20px 20px;
}
#img1, #img2, #caption1, #caption2 {
  width: 300px;
}
header, #currentVote {
  color: blue;
  text-align: center;
}
#img1:hover, #img2:hover {
  opacity: 0.5;
}
